.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 14px;
    margin-bottom: 10px;
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fListItem {
    margin-bottom: 10px;
    color: #003580;
    cursor: pointer;
    font-weight: 600;
}

.fText {
    color: gray;
}
